@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box-component {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #100e19;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  flex-grow: 1;
  background-color: #f0f0ea;
}

main {
  flex-grow: 1;
  padding: 4rem 6rem;
  color: #353535;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  background-color: #f0f0ea;
  min-height: 100vh;
}


fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 42px;
  margin: 0 0 2rem;
  text-align: center;
}

/*
    film list
*/
.film-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-gap: 0.75rem;
  justify-content: center;

}

/*
    card
*/
.card {
display: grid;
grid-auto-flow: row;
grid-template: auto 1fr auto auto / 1fr;
}

.card-header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f0f0ea;
  background-color: #64588d;
  padding: 1.5rem 1rem;
  margin: 0;
}

.card__body {
  background-color: #fffff8;
  padding: 0.5rem 0.2rem;
}

.film-info__plot .film-info__text {
  height: 170px;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
  float: right;
  background-color: #64588d;
  border-radius: 0 0 10px 10px;
}

.card-header__image {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
}

/*
    button
 */
.button {
  padding: 1rem 1.5rem;
  border: solid 2px transparent;
  border-radius: 5px;
  transition: 0.2s;
  white-space: nowrap;
  outline-color: #64588d;
}

.button:first-letter {
  text-transform: capitalize;
}

.button:not(:last-child) {
  margin-right: 5px;
}

.button:hover {
  border-color: #64588d;
}

.button__icon {
  display: inline-block;
  background-color: inherit;
}

.button_add {
  position: relative;
}

.button_add:hover > .button__icon-svg path,
.button_add:focus > .button__icon-svg path {
  fill: #1cd87a;
}

.button__icon-svg {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button__icon-svg path {
  transition: 0.2s;
}

.button_remove {
  position: relative;
}

.button_remove:hover > .button__icon-svg path,
.button_remove:focus > .button__icon-svg path {
  fill: #e04747;
}

.button_remove .button__icon-svg {
  transform: translate(-50%, -50%) rotate(45deg);
}
.button_add:hover::before,
.button_add:focus::before {
  content: "Добавить в Избранные";
  background-color: #1cd87a;
}

.button_remove:hover::before,
.button_remove:focus::before {
  content: "Удалить из Избранныx";
  background-color: #e04747;
}

.button_add:hover::before,
.button_add:focus::before,
.button_remove:hover::before,
.button_remove:focus::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -140%;
  left: -260%;
  padding: 0.5rem;
  font-size: 14px;
  white-space: nowrap;
  color: #ffffff;
  border-radius: 5px;
}

.button_add:hover::after,
.button_add:focus::after,
.button_remove:hover::after,
.button_remove:focus::after {
  content: "";
  position: absolute;
  left: 28%;
  top: -38%;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.button_add:hover::after,
.button_add:focus::after {
  border-top: 11px solid #1cd87a;
}

.button_remove:hover::after,
.button_remove:focus::after {
  border-top: 11px solid #e04747;
}

.button_checked {
  background-color: #64588d;
  color: #f0f0ea;
}

.button_primary {
  background-color: #5796f7;
  color: #ffffff;
}

/*
  Film-info
*/

.film-info {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 3px;
  padding: 0.25rem;
}

.film-info__title {
  margin: 0;
  font-style: italic;
  font-weight: bold;
}

.film-info__text {
  margin: 0;
}

.film-info__title::after {
  content: ":";
}

/*
  search
*/

.search {
  width: 400px;
}

.search__input {
  padding: 1rem 1rem;
  margin-right: 0.5rem;
  width: 100%;
  outline: none;
  border: solid 2px transparent;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.search__input:hover,
.search__input:focus {
  border: solid 2px #64588d;
}

.control-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  padding-left: 0;
}

.sorting {
  padding-bottom: 2rem;
}

.filter {
  white-space: nowrap;
  padding: 1rem 1.5rem;
  line-height: 0;
  position: relative;
  top: 2px;
}

.filter__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter__check + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
}

.filter__check + label::before {
  content: "";
  width: 1.3em;
  height: 1.3em;
  border: 2px solid #64588d;
  border-radius: 0.25em;
  margin-right: 0.3em;
  position: relative;
  top: -2px;
}

.filter__check:checked + label::before {
  border-color: #64588d;
  background: center center / 90% no-repeat url("../images/check-box-icon.svg")
    #64588d;
}

.filter__check:not(:disabled):not(:checked) + label:hover::before {
  cursor: pointer;
}

.sorting__title {
  margin-right: 1.5rem;
}

/*
  adaptive
*/
@media (max-width: 860px) {
  main {
    padding: 3rem 2rem;
  }
}
@media (max-width: 699px) {
  main {
    padding: 2rem 1.2rem;
  }

  .search {
    width: 100%;
  }

  .filter {
    padding: 1rem 0;
  }
}
@media (max-width: 606px) {
  .sorting {
    flex-direction: column;
  }
}
@media (max-width: 340px) {
  main {
    padding: 1.5rem 0.6rem;
  }
}